DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
TELEGRAM_BOT_TOKEN=
CHANNEL_ID=
ADMIN_IDS=
WEBHOOK_URL=
HTTP_PORT=
READ_TIMEOUT=
WRITE_TIMEOUT=


POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=adminpassword
