* {
    box-sizing: border-box;
}

.product-card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    width: 100%; 
    max-width: 1080px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product-header {
    width: 100%;
    /* max-width: clamp(280px, 90vw, 720px); */
    border-radius: 8px;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
 /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.product-rectangle {
    flex: 1 1 calc(25% - 8px);
    min-width: 80px;
    height: 3rem;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.product-rectangle i.bi {
    font-size: 2rem;
    /* width: 2rem;
    height: 2rem; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6%;
}

.pro-rect-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 9px;
    /* padding-top: 10px; */
    margin: 0;
    /* height: 1rem; */
    transition: all 0.3s ease;
}

.product-rectangle:hover .pro-rect-title,
.product-rectangle:active .pro-rect-title {
  background-color: #000; 
  color: #fff;
  border-radius: 9px; 
  width: 100%;
  height: 100%;
}



.product-address-arrow {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.product-rectangle18 {
    flex: 1 1 calc(70% - 8px);
    min-width: 200px;
    height: 56px;
    background: yellow;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cityaddress {
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
}

.deliverytime {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    padding-left: 10px;
}

.product-rectangle19 {
    /* flex: 1 1 calc(1% - 8px); */
    /* width: 45px; */
    min-width: 45px;
    height: 56px;
    background: rgb(251, 178, 8);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow19 {
    font-size: 28px;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.product-rectangle3 {
    width: 100%;
    height: 44px;
    background: #d4cfcf;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;
    margin-top: 5%;
}

.search-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.search-icon {
    font-size: 24px;
    margin-left: 5%;
}

.search-input {
    background: transparent;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-right: 8px;
    flex-grow: 1;
    color: #9c9c9c;
}

.menu-button {
    background: transparent;
    border: none;
    margin-right: 3%;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #242424;
}

.product-rectangle5 {
    width: 100%;
    height: 44px;
    border-radius: 9px;
    background: #EBEBEB;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

.product-list-row {
    width: 100%;
    position: relative;
}

.listFoodElement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #242424;
    gap: 15px;
    list-style: none;
    width: 100%;
    padding-left: 4%; 
    box-sizing: border-box; 
    justify-content: space-between;
}

.listFoodElement li {
    flex: 0 0 auto; 
    min-width: 50px; 
    max-width: 120px; 
    text-align: center;
    box-sizing: border-box; 
}

.listFoodElement:last-child {
    overflow-x: hidden;
    opacity: 0.5;
}

.checklist-products {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 8px;
    justify-content: space-between;
}

.product-info {
    flex: 1 1 calc(50% - 4px); 
    min-width: 150px;
    height: 204px;
    margin-top: 4%;
}

.product-info p {
    gap: 2px;
    margin: 4px 0;
}

.product-picture {
    width: 100%;
    height: 152px;
    background: #F3F3F3;
    border-radius: 9px;
}

.product-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: start;
    /* background: white; */
}

.product-description {
    font-size: 15px;
    color: #888;
    margin-bottom: 5%;
    text-align: start;
    background: white;
}

.product-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-bottom: 8px;
       background: #f0f0f0;
       max-width: 96px;
       border-radius: 9px;
}

.product-controls button {
    width: 28px;
    height: 28px;
    border: none;
    background: #f0f0f0;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.product-price {
    font-weight: bold;
    font-size: 16px;
}

.order-button {
    width: 100%;
    height: 56px;
    background: #FF6E01;
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 15%;
    /* max-width: 345px; */
    border-radius: 9px;
}